body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Libre Baskerville';
}

a {
  text-decoration: none;
}

.content {
  display: flex;
}

$color-1: #859568;
$color-2: #edf0e6;
$color-3: #e9e6ed;
